<html>
  <head>
    <title>Appache</title>
  </head>
  <body>
    <a href="/">
        <button>Home</button>
      </a>
    <h1>You have selected Appache</h1>
    <p>Given the 1835 security vulnerabilities, filter your search by product:</p>
    <ul>
      <li><button href="appache.Vulnerabilities">Apache HTTP Server</button></li>
      <li><button href="appache.Vulnerabilities">Apache Tomcat</button></li>
      <li><button href="appache.Vulnerabilities">Apache Ant</button></li>
      <li><button href="appache.Vulnerabilities">Apple Watch</button></li>
      <li><button href="appache.Vulnerabilities">Apache Maven</button></li>
      <li><button href="appache.Vulnerabilities">Apache OpenOffice</button></li>
    </ul>
  </body>
</html>