<html>
  <head>
    <title>Apple</title>
  </head>
  <body>
    <a href="/">
      <button>Home</button>
    </a>
    <h1>You have selected Apple</h1>
    <p>Given the 5930 security vulnerabilities, filter your search by product:</p>
    <ul>
      <li><button href="apple.Vulnerabilities">iPhone</button></li>
      <li><button href="apple.Vulnerabilities">iPad</button></li>
      <li><button href="apple.Vulnerabilities">Mac</button></li>
      <li><button href="apple.Vulnerabilities">Apple Watch</button></li>
      <li><button href="apple.Vulnerabilities">AirPods</button></li>
      <li><button href="apple.Vulnerabilities">iMac</button></li>
      <li><button href="apple.Vulnerabilities">MacBook</button></li>
    </ul>
  </body>
</html>
