<html>
  <head>
    <title>Microsoft</title>
  </head>
  <body>
    <a href="/">
        <button>Home</button>
      </a>
    <h1>You have selected Microsoft</h1>
    <p>Given the 9131 security vulnerabilities, filter your search by product:</p>
    <ul>
      <li><button href="microsoft.Vulnerabilities">Windows</button></li>
      <li><button href="microsoft.Vulnerabilities">Office</button></li>
      <li><button href="microsoft.Vulnerabilities">Xbox</button></li>
      <li><button href="microsoft.Vulnerabilities">Dynamics 365</button></li>
      <li><button href="microsoft.Vulnerabilities">LinkedIn</button></li>
    </ul>
  </body>
</html>