<html>
  <head>
    <title>Oracle</title>
  </head>
  <body>
    <a href="/">
        <button>Home</button>
      </a>
    <h1>You have selected Oracle</h1>
    <p>Given the 8923 security vulnerabilities, filter your search by product:</p>
    <ul>
      <li><button href="oracle.Vulnerabilities">Oracle Database</button></li>
      <li><button href="oracle.Vulnerabilities">Oracle Fusion Middleware</button></li>
      <li><button href="oracle.Vulnerabilities">Oracle Applications</button></li>
      <li><button href="oracle.Vulnerabilities">Oracle Enterprise Manager</button></li>
      <li><button href="oracle.Vulnerabilities">Oracle Cloud</button></li>
    </ul>
  </body>
</html>