<!DOCTYPE html>
<html>
<head>
    <title>Product Check</title>
    <script src="script.js"></script>
    <!-- Include the Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <a href="/">
        <button>Home</button>
      </a>
    <div class="container mt-5">
        <h1>Vulnerable Product Finder</h1>
        <p>The database has select options for the most common Vulnerable Vendors. Filter your selection by vendor: </p>
        <!-- <form onsubmit="submitForm()">
            <input type="text" id="product">
            <input type="submit" value="Submit">
        </form> -->
    <form action="apple">
        <input type="submit" value="Apple - 5930 Vulnerabilites Found!">
    </form>
    <form action="appache">
        <input type="submit" value="Appache - 1835 Vulnerabilites Found!">
    </form>
    <form action="adobe">
        <input type="submit" value="Adobe - 1449 Vulnerabilites Found!">
    </form>
    <form action="cisco">
        <input type="submit" value="Cisco - 4363 Vulnerabilites Found!">
    </form>
    <form action="devian">
        <input type="submit" value="Devian - 7547 Vulnerabilites Found!">
    </form>

    <form action="google">
        <input type="submit" value="Google - 7904 Vulnerabilites Found!">
    </form>
    <form action="ibm">
        <input type="submit" value="IBM	- 5565 Vulnerabilites Found!">
    </form>
    <form action="linux">
        <input type="submit" value="Linux - 3050 Vulnerabilites Found!">
    </form>
    <form action="microsoft">
        <input type="submit" value="Microsoft - 9131 Vulnerabilites Found!">
    </form>
    <form action="oracle">
        <input type="submit" value="Oracle - 8923 Vulnerabilites Found!">
    </form>
    </body>
</html>

